= content_for(:banner) do
  .banner-container
    = image_tag "banner.jpg"  

%hr/ 
.row-fluid
  / BIG SPAN4
  .span3
    .row-fluid.text-center
      = image_tag "hydrant_avatar.jpg", class: "img-polaroid"
    .row-fluid.text-center
      %p 
        %b= @hydrant.name.empty? ? @hydrant.sid : @hydrant.name
        %br/ 
        %i.icon-map-marker
        = @hydrant.location
    - unless @hydrant.user.nil?
      .row-fluid{:style => "margin-bottom: 10px !important;"}
        %p
          %a.bttn.red-bttn.span12 <b>105 kudos</b>
      .row-fluid.text-center
        %p 
          %a.bttn.red-bttn.span12{:href => "#"} <b>Support #{@hydrant.user.full_name.split.first}'s work</b>
          .help-block
            Buy #{@hydrant.user.full_name} a toolkit ($25).
            %br/ 
            Online payment by Paypal.
    - else
      .row-fluid{:style => "margin-bottom: 10px !important;"}
        %p
          %a.bttn.red-bttn.span12{:href => "#adopt", :"data-toggle" => "modal", :"data-sid" => @hydrant.sid} Adopt this hydrant

      / Modal
      #adopt.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h3#myModalLabel Horray, just one more step
        .modal-body
          .row-fluid
            .help-block.span6.text-right NAME YOUR SWEET HYDRANT
            .span6
              %input{:type => "text"}/ 
        .modal-footer
          %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
          %button.btn.btn-primary Submit
    
    - if current_user && !@hydrant.user.nil? && @hydrant.user == current_user
      %hr/ 
      .row-fluid.text-center{:style => "margin-bottom: 10px !important;"}
        %b Management

      .row-fluid{:style => "margin-bottom: 10px !important;"}
        %a.bttn.grey-bttn.span12{:href => "#"}
          %i.icon-map-marker
          Checkin
      .row-fluid{:style => "margin-bottom: 10px !important;"}
        %a.bttn.grey-bttn.span12{:href => "#"}
          %i.icon-remove
          Abandon

      %hr/ 
      .row-fluid.text-center{:style => "margin-bottom: 10px !important;"}
        %b City Fire Department

      .row-fluid{:style => "margin-bottom: 10px !important;"}
        %a.bttn.black-bttn.span12{:href => "#"}
          %i.icon-thumbs-up.icon-white
          Verify Adoption
  / END: BIG SPAN4
  
  - unless @hydrant.user.nil?
    / BIG SPAN6
    .span9
      .row-fluid
        %h3 Milestones
        .well.well-small
          .hyper-small.help-block.pull-right #{time_friendly(@hydrant.adopted_on)}
          .milestone
            %i.icon-heart
            <b>#{@hydrant.name}</b> has been adopted by <b>#{@hydrant.user.full_name}</b>

        .well.well-small
          .hyper-small.help-block.pull-right= time_friendly(3.days.ago)
          .milestone
            %i.icon-ok-sign
            <b>Boston's City Fire Department</b> checked & authorized #{@hydrant.user.full_name} for adopting this hydrant
      
      .row-fluid.checkin
        .hyper-small.help-block.pull-right #{time_friendly(Time.now)}
        .status
          %i.icon-screenshot 
          <b>#{@hydrant.user.full_name}</b> has checked in <b>#{@hydrant.name}</b> for the <b>third time</b> 
        - (3..5).each do |i|
          = image_tag "batch/hydrant_#{i}.jpg", class: "img-polaroid", size: "75x75"

      .row-fluid.checkin
        .hyper-small.help-block.pull-right #{time_friendly(Time.now)}
        .status
          %i.icon-screenshot 
          Bright and shine. <b>#{@hydrant.name}</b> was checked in for the <b>second</b>  time
        - (2..3).each do |i|
          = image_tag "batch/hydrant_#{i}.jpg", class: "img-polaroid", size: "75x75"

      .row-fluid.checkin
        .hyper-small.help-block.pull-right #{time_friendly(Time.now)}
        .status
          %i.icon-screenshot 
          Hooray! <b>#{@hydrant.user.full_name}</b> checked in <b>#{@hydrant.name}</b> for the <b>first time</b> 
        - (1..1).each do |i|
          = image_tag "batch/hydrant_#{i}.jpg", class: "img-polaroid", size: "75x75"
        
    / END: BIG SPAN6