.banner-container.text-center{:style => "padding-top: 30px;"}
  = image_tag "hp/map.jpg", class: "img-circle"
.body-container
  .big-intro.text-center
    In the midst of winter snowstorms, buried hydrants cause dangerous delays in responding to fire emergencies. Adopt-a-Hydrant lets governments turn to the community for helps.
  %hr/
  .row-fluid{:style => "border-bottom: 1px solid #eee;"}
    .span8.text-center
      = image_tag "hp/hydrant_page.png"
    .span4
      %p 
      .big-intro All about the hydrant
      <br/><br/>
      %p 
        %i.icon-ok-sign
        People can give kudos to adopters.<br/><br/>
        %i.icon-ok-sign
        People can support adopters financially using the "Support his/her work" feature.<br/><br/>
        %i.icon-ok-sign
        Payment made via Paypal. <br/><br/>
        %i.icon-ok-sign
        People can checkin to hydrants and let others know they are all fine in the winter.<br/><br/>
        %i.icon-ok-sign
        People can abandon hydrants if they move out to other places.
  .row-fluid{:style => "margin-top: 30px; border-bottom: 1px solid #eee;"}
    .span4
      .big-intro State management made easy
      <br/><br/>
      %p 
        %i.icon-ok-sign
        Admin can verify one's adoption<br/><br/>
        %i.icon-ok-sign
        Admin can checkin to see new adoptions and make necessary followups<br/><br/>
        %i.icon-ok-sign
        One-click notification (SMS, email) to adoptors when there is emergency (snowstorm) coming<br/><br/>
        %i.icon-ok-sign
        Easy monitor on adoption progress<br/><br/>
        %i.icon-ok-sign
        Admin can print out leaflets encouraging people to adopt unchecked hydrants
    .span8.text-center
      = image_tag "hp/admin_page.png"

  .row-fluid{:style => "margin-bottom: 40px; margin-top: 20px;"}
    .big-intro.text-center Interested? <br/> Browse our hydrant map and sign up to adopt one!
  .row-fluid{:style => "margin-bottom: 20px;"}
    .span4.offset4.text-center
      = link_to "ADOPT-A-HYDRANT MAP", pages_map_path, class: "bttn red-bttn"

  = render "layouts/footer"