.infowindow
  .row-fluid.text-center
    = image_tag "hydrant_avatar.jpg", class: "img-polaroid"
  
  .row-fluid.text-center
    %i.icon-map-marker
    = hydrant.location
    %br/ 
    .hyper-small Last checking: #{time_friendly(Time.now)}

  .row-fluid.text-center
    .well.well-small
      <b>#{hydrant.name.empty? ? hydrant.sid : hydrant.name }</b> has been adopted by <b>#{hydrant.user.full_name}</b> since <b>#{time_friendly(hydrant.adopted_on)}</b>
    %hr/ 
      
  
  .row-fluid.text-center
    = link_to "Snowstorm coming? Let #{hydrant.user.full_name} know!", hydrant_path(hydrant), class: "btn btn-primary"