.header-container
  .content-area
    .row-fluid
      .span6
        = link_to root_path do
          = image_tag "logo.jpg"
      .span6.text-right
        - unless current_user
          = link_to "Signup", new_user_registration_path, class: "btn btn-danger"
          = link_to "Signin", new_user_session_path, class: "btn btn-primary"
        - else
          = link_to "Signout", destroy_user_session_path, method: :delete, class: "btn"