<%= content_for :head do %>
  <style>
  .infowindow {
    width: 350px;
  }
  #map-canvas img {
    max-width: none
  };
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript">
  function initialize() {

    var mapOptions = {
      zoom: 10,
      zoomControl: true,
      center: new google.maps.LatLng(<%= center[:lat] %>, <%= center[:lng] %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      disableDefaultUI: true,
      zoomControlOptions: {
        style: google.maps.ZoomControlStyle.LARGE,
        position: google.maps.ControlPosition.LEFT_CENTER
      }
    };

    var map = new google.maps.Map(document.getElementById("map-canvas"),
      mapOptions);

    var infowindow = new google.maps.InfoWindow();

    var myLatlng = new google.maps.LatLng(<%= center[:lat] %>, <%= center[:lng] %>);

    var marker = new google.maps.Marker({
      position: myLatlng,
      map: map
    });

  <% markers.each do |marker| %>
    var <%= "myLatlng#{marker.id}" %> = new google.maps.LatLng(<%= marker.latitude %>, <%= marker.longitude %>);
    
        var <%= "content#{marker.id}" %> = '<%= escape_javascript(render "layouts/info_window/waiting_for_adopt") %>';

      var <%= "marker#{marker.id}" %> = new google.maps.Marker({
        position: <%= "myLatlng#{marker.id}" %>,
        map: map
      });


    google.maps.event.addListener(<%= "marker#{marker.id}" %>, 'click', function() {
      infowindow.close();
      infowindow.setContent(<%= "content#{marker.id}" %>);
      infowindow.open(map,<%= "marker#{marker.id}" %>);
      // map.setCenter(<%= "myLatlng#{marker.id}" %>);
    });
  <% end %>

  }
  google.maps.event.addDomListener(window, 'load', initialize);
  </script>
<% end  %>

<div id="map-canvas" style="width: 100%; height: <%= height %>;"></div>

